.ft-opt-form-item {
    padding: 0 12px;
    display: inline-block;

    &.hide {
        display: none;
    }
}

.ft-opt-form-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
}